* {
    font-family: 'Montserrat', sans-serif;
}

.nav-left a {

    text-decoration: none;
    color :black;
    margin: 2rem;
    margin-left: 3.2rem;
    text-decoration-line: none;
    font-weight: 600;
 
}

.navbar a:hover {
    text-decoration: underline #bc8d4b 5px;
    color: #bc8d4b;
    
}

.navbar a:after {
    content: '';
    position: absolute;
    width: 100%;
    transform: scaleX(0);
    height: 2px;
    bottom: 0;
    left: 0;
    background-color: #bc8d4b;
    transform-origin: bottom right;
    transition: transform 0.25s ease-out;
  }
  
  .navbar a:hover:after {
    transform: scaleX(1);
    transform-origin: bottom left;
  }


.nav-right a {

    text-decoration: none;
    color :black;
    margin: 2rem;
    margin-right: 2.5rem;
    text-decoration-line: none;
    font-weight: 600;
 
}
.nav-left {
    text-align: center;
}
.nav-mid {
    text-align: center;
}
.nav-right {
    text-align: center;
}

.nav-mid {
    color: black;
  margin-left: 0rem;
}
.nav-mid a {
    text-decoration-line: none;
    color: #bc8d4b;
}

.nav-mid a:hover {
    text-decoration: none;
}

.nav-mid h3 {
    font-size: 2.4rem;
    color: #bc8d4b;
}

.navbar {
    margin-top: 2rem;
    background-color: #fff;
    margin: auto;
    opacity: 0.95;
    box-shadow: 0 3px 5px rgba(0, 0, 0, 0.3);
}

/*navbar end*/

.body {
    position: relative;
    text-align: center;
    
}

.carousel img {
    width: 100%;
    height: 43rem;
}

.welcome {

    position: absolute;
    top: 15rem;
    left: 27rem;
    margin: auto;

}

.welcome h1 {
    font-size: 6rem;
    color: rgb(255, 255, 255);
    text-shadow: 2px 3px 20px #000000;
    font-weight:700;
}

.welcome .btn {
    text-shadow: 1px 1px 1px black;
    font-size: 2rem;
    text-align: center;
    margin: auto;
    margin-left: rem;
}
.welcome .btn a{
    color: white;
    text-decoration: none;
    text-decoration-line: none;
    text-shadow: 1px 1px 1px black;
    font-size: 2rem;
    text-align: center;
 
}

.welcome .btn a:hover {
    color: black;
}

/*footer*/

.footer-nav a {

    text-decoration: none;
    color :white;
    margin: 0 5rem;
    text-decoration-line: none;
    font-weight: 600;

}

.footer-nav a:hover {
    color: #bc8d4b;
}

.footer {
    background-color: #1a1915;
    color: white;
    margin-top: 2rem;
}
.footer-nav {
    text-align: center;
    padding-top: 2rem;

}

.socials {
    font-size: 1rem;
    margin-top: 2rem;
    text-align: center;
}

.socials img {
    width: 1.5rem;
    height: 1.5rem;
}

.socials ul {
    list-style-type: none;
    overflow: hidden;
    text-align: center;
}


.socials span {
    display: inline;
    margin: 1rem;
}

.socials span:hover {
   
}

.footer h5{
    font-size: 0.7rem;
    text-align: center;
    margin-top: 3rem;
    margin-bottom: -2 rem;
    padding-bottom: 0;

}

/*footer end*/

.first h2{
    text-align: center;
    font-weight: 700;
}

.first {
    margin-top: 2rem;
}

.first p{
    text-align: center;
    margin: 1rem 5rem;
}

.gallery {
    margin-top: 5rem;
    text-align: center;
}

.gallery a {
    text-decoration-line: none;
    color: #000000;
   
}

.owner {
    background-color: #f2f2f2;
    padding-top: 2rem;
    padding-left: 2rem;
}
.owner .col {
    text-align: center;
}

.owner p {

    font-size: 0.9rem;
    margin: 2rem 2rem 0 2rem;
}

.owner h6 {
    margin-bottom: 0;
    font-style: bold;
}

.owner img {
    margin-top: -2rem;
    height: 20rem;
}